@import "styles.css";
@import "home.css";
@import "main.css";

input, select, textarea {
    @apply px-3 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 transition duration-150 ease-in-out;
}

#settings .active {
    @apply text-blue-400 border-b-2 border-blue-400 block;
}

input:focus, select:focus, textarea:focus {
    @apply outline-none shadow-sm;
}

button, [type='button'], [type='submit'] {
    @apply font-medium;
}
